<div class="card text-center" style="width: 18rem;margin:0 auto;">
<div class="card-body">

<script>
// function register(){
//     var usernameInput = document.getElementById("username");
//     var passwordInput = document.getElementById("password");
//     var confirmPasswordInput = document.getElementById("confirmPassword");
//     var username = usernameInput.value.trim();
//     var password = passwordInput.value;
//     var confirmPassword = confirmPasswordInput.value;
//     if (username == "") {
//         alert("Please enter your username");
//         return;
//     } else if (password == "") {
//         alert("Please enter your password");
//         return;
//     } else if (password != confirmPassword) {
//         alert("Please confirm your password");
//         return;
//     }
//     document.getElementById("signup").submit(); // Form submission
// }
</script>

  <h2>Sign up</h2>
  <form action="/register" method="post" id="signup">
    <div class="mb-3">
      <label for="username" class="form-label required">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label required">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label required">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <%#div class="btn btn-primary" onclick="register()">Submit</div%>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>