  <div class="card text-center" style="width: 40rem;margin:0 auto;">
  <div class="card-body">
    <h2>Welcome to the gambling site</h2>
    <img src="/images/gambling.jpg" width="320" height="400" />
    <br/>
    <p>This is the demo of COEN 278 Assignment 3. My name is Taipeng Liu. Student Id: W1609931 :)</p>
    <p>PS: I love Rails more</p>
  </div>
  </div>